:root {
    --c-white: #FFF;
    --c-darkgrey: #0E0E10;
    --c-midgrey: #18181b;
    --c-semigrey: #2f2f35;
    --c-transparentgrey: rgba(83, 83, 95, 0.38);
    --c-semilightgrey: #dbdbdb;
    --c-lightgrey: #adadb8;
    --c-blue: #189AFC;
    --c-pink: #ff8280;
    
}